In [7]:
#Write a program that takes a list of student names and performs the following:
# Removes duplicates
# Sorts by last character of each name
# Reverses the list

list_of_student = ["tanmay","tanmay", "kalyani","roshni"]
print(set(list_of_student))

print(list_of_student[::-1])

{'kalyani', 'roshni', 'tanmay'}
['roshni', 'kalyani', 'tanmay', 'tanmay']

In [16]:
#Write a function unique_digit_sum(n) that returns the sum of all unique digits in the number n.Example: n = 122334 -> sum = 1+2+3+4 = 10

n = [1,2,2,3,4,5]
unique_num = set(n)
total = sum(unique_num)
print(total)

15

In [23]:
#Define a function swap_case_words(s) that swaps the case of every character in every word in asentence and returns a list of transformed words.
a = "tanmay kalyani roshni"
print(a.swapcase())

TANMAY KALYANI ROSHNI

In [36]:
#Given a tuple of (student_name, marks), write a function that returns a tuple of (name, grade) 
#based on:- 90 and above = A, 80-89 = B, 70-79 = C, below 70 = F

def data(student_data):
    name, marks = student_data
if marks >= 90:
    print("A")
elif marks >= 80:
    print("B")
elif marks >= 70:
    print("C")
else:
    print("F")

student = ("tanmay",50)
print(data(student))

C
None

In [1]:
#Given a list of tuples with (name, score), write a lambda + map() expression to extract all scores and increase each by 5%

my_list = [("tanmay",50),("roshni",90),("kalyani",70)]
list_update = list(map(lambda a: a[1] * 1.05, my_list))
print(list_update)

[52.5, 94.5, 73.5]

In [ ]:
#Write a function unique_digit_sum(n) that returns the sum of all unique digits in the number n. Example: n = 122334 -> sum = 1+2+3+4 = 10

num = [1,2,3,4,5,6]
sum_of_num = sum(num)
print(sum_of_num)

In [ ]:
#Create a function remove_consecutive_duplicates(lst) that removes only consecutive duplicatesfrom a list while keeping order
lst = [1,2,2,3,3,4,5,6,6]
dup = list(set(lst))
print(dup)

In [2]:
#Define a function track_inventory(products) that takes a dictionary with product 
#names as keys and their stock as values. Return a list of products that need restocking (stock < 10).

inventory = {"apple": 5, "banana": 12, "orange": 8, "grape": 15}
print([p for p in inventory if inventory[p] < 10])

['apple', 'orange']

In [4]:
#Use reduce() to calculate the product of all odd numbers in a list.

num = [1,2,3,4,5,6,7,8]
from functools import reduce 
def product_of_list(num):
    odd_number = filter(lambda x: x % 2, num)
    return reduce(lambda x, y: x * y, odd_number)
print(product_of_list(num))

105

In [8]:
#Given two lists, find all common elements using sets and print them in sorted descending order.
list1 = [1,2,3,4]
list2 = [1,2,3,4,5,6,7,7]

common_elements = sorted(set(list1) & set(list2), reverse=True)
print(common_elements)

[4, 3, 2, 1]

In [9]:
#Take a sentence input and return a set of all unique words that appear more than once
sentence = input("Enter a sentence: ")
sentence.lower().split()
print({word for word in sentence if sentence.count(word) > 1})

Enter a sentence:  currently unavailable

{'n', 'l', 'e', 'r', 'a', 'u'}

In [10]:
#Create a function flatten(nested_list) that takes a list of lists and returns a flat list. Do not use itertools.chain
lst = [[1,2,3], [4,5,6],[7,8,9]]
print([item for sublist in lst for item in sublist])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#Write a program that takes a list of strings and returns the number of unique vowels used across all words (use set union).

sentence = int(input("enter your sentence: "))
vowels = (a,e,i,o,u)